.container_steps {
    position: relative;
    max-width: 350px;
    width: 500px;
    height: 400px;
}

.card-stack {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.35);
    transition: transform 0.3s ease, opacity 0.3s ease;
    z-index: 2;
}

.card-stack:nth-child(1) {
    transform: translateY(-40px) translateX(40px);
}

.card-stack:nth-child(2) {
    transform: translateY(-30px) translateX(30px);
}

.card-stack:nth-child(3) {
    transform: translateY(-20px) translateX(20px);
}

.card-stack:nth-child(4) {
    transform: translateY(-10px) translateX(10px);
}

.card {
    position: relative;
    background: #fff;
    border-radius: 5px;
    padding: 2em 0;
    height: 400px;
    box-sizing: border-box;
    box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.35);
    z-index: 3;
}

.content {
    position: absolute;
    top: 2em;
    left: 10%;
    width: 80%;
    margin: 0 auto;
    opacity: 0;
    display: none;
}

.active {
    display: block !important;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.progress-container {
    background: #303E74;
    height: 6px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-radius: 0 0 5px 5px;
}

.progress-container {
    background: rgba(37, 117, 252, 0.2);
    height: 6px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-radius: 0 0 5px 5px;
}


.step {
    background-color: #303E74;
    height: 6px;
    width: 20%;
    border-radius: 0 0 0 5px;
    transition: width 0.3s ease;
}

h1 {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    color: #;
    margin: 0;
}

p {
    margin-top: 0;
}

a {
    color: #303E74;
    text-decoration: none;
    position: relative;
    cursor: pointer;
}

a:before {
    content: '';
    position: absolute;
    bottom: 2px;
    left: 0;
    width: 0%;
    border-bottom: 2px solid #303E74;
    transition: 0.3s;
}

a:hover:before {
    width: 30%;
}